@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-limeCustom: hsl(61, 70%, 52%);
}

body {
  font-family: var(--font-jakarta);
  font-weight: 500;
  color: #333;
  background-color: hsl(202, 86%, 94%);
}
